// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index.html部分
.indexh1 {
    margin-left: 40px;
}

table {
    margin-left: 40px;
}

.title {
    width: 150px;
    padding: 10px 20px 0 0;

}

.body {
    width: 450px;
    padding-right: 20px;
}

.center {
    padding: 0 10px;
}

.form {
    margin-left: 40px;
}



// showhtml部分

.showhtml1 {
    margin: 40px;
}

.showhtml2 {
    margin-left: 40px;
}



// edithtml部分

.edithtml {
    margin-left: 30px;
}

.editingbook {
    font-weight: bold;
    font-size: 25px;
    padding-top: 100px;
}

.updatebook {
    padding-bottom: 10px;
}



.notice {
    margin: 20px 0 10px 40px;
    color: green;
}